<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <div class="backdrop"></div>
    <header class="main-header">
        <button id="side-menu-toggle">Menu</button>
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                    </a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    
    <nav class="mobile-nav">
            <ul class="mobile-nav__item-list">
                    <li class="mobile-nav__item">
                        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                        </a>
                    </li>
                    <li class="mobile-nav__item">
                        <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                        </a>
                    </li>
                </ul>
    </nav>

    <main>
        <form class="client-form" action="/admin/<% if (editing) { %>edit-client<% } else { %>add-client<% } %>" method="POST">
            <div class="form-control">
                <label for="clientName">Client name</label>
                <input type="text" name="clientName" id="clientName" value="<% if (editing) { %><%= client.client_name %><% } %>">
            </div>
            <div class="form-control">
                <label for="email">Client email</label>
                <input type="text" name="email" id="email" value="<% if (editing) { %><%= client.email %><% } %>">
            </div>
            <div class="form-control">
                <label for="country">Country</label>
                <input type="text" name="country" id="country" value="<% if (editing) { %><%= client.country %><% } %>">
            </div>
            <div class="form-control">
                <label for="countryCode">Country Code *</label>
                <input type="text" name="countryCode" id="countryCode" value="<% if (editing) { %><%= client.countryCode %><% } %>">
            </div>
            <div class="form-control">
                <label for="city">City *</label>
                <input type="text" name="city" id="city" value="<% if (editing) { %><%= client.city %><% } %>">
            </div>
            <div class="form-control">
                <label for="postal_code">Postal Code *</label>
                <input type="number" name="postal_code" id="postal_code" step="1" value="<% if (editing) { %><%= client.postal_code %><% } %>">
            </div>
            <div class="form-control">
                <label for="phone_number">Phone Number</label>
                <input type="number" name="phone_number" id="phone_number" step="1" value="<% if (editing) { %><%= client.phone_number %><% } %>">
            </div>
            <div class="form-control">
                <label for="number_of_orders">Number of Orders * <span>(default value is 0)</span></label>
                <input type="number" name="number_of_orders" id="number_of_orders" step="1" value="<% if (editing) { %><%= client.number_of_orders %><% } %>">
            </div>
            <div class="form-control">
                <label for="address">Address</label>
                <textarea name="address" id="address" rows="5"><% if (editing) { %><%= client.address %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= client.client_id %>" name="clientId">
            <% } %>

            <button class="btn" type="submit"><% if (editing) { %>Update Client<% } else { %>Add Client<% } %></button>
        </form>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>