<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.product_name %></h1>
            <hr>
            <div class="image">
                <% if(!product.imageurl) { %>
                    <img src="https://miro.medium.com/max/793/1*CfNQ1YaiOJ8OQ6fPEPIVDQ.png" alt="<%= product.product_name %>">
                <% } else { %>
                    <img src="<%= product.imageurl %>" alt="<%= product.product_name %>">
                <% } %>
            </div>
            <h2><%= Number(product.price).toFixed(2)%></h2>
            <p><%= product.description %></p>
            <!-- <%- include('../includes/add-to-cart.ejs') %> -->
        </main>
        <%- include('../includes/end.ejs') %>